.fonte-principal-index {
    font-family: 'New Spirit', serif;
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: 'New Spirit';
    src: url('../fonts/NewSpirit-Regular.woff2') format('woff2'),
        url('../fonts/NewSpirit-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'New Spirit';
    src: url('../fonts/NewSpirit-Bold.woff2') format('woff2'),
        url('../fonts/NewSpirit-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'New Spirit Condensed';
    src: url('../fonts/NewSpirit-RegularCondensed.woff2') format('woff2'),
        url('../fonts/NewSpirit-RegularCondensed.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'New Spirit Light Condensed';
    src: url('../fonts/NewSpirit-LightCondensed.woff2') format('woff2'),
        url('../fonts/NewSpirit-LightCondensed.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'New Spirit';
    src: url('../fonts/NewSpirit-Medium.woff2') format('woff2'),
        url('../fonts/NewSpirit-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'New Spirit';
    src: url('../fonts/NewSpirit-SemiBold.woff2') format('woff2'),
        url('../fonts/NewSpirit-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

.parte_4 {
    background-color: rgb(150, 145, 123);
    position: absolute;
    left: 0;
    right: 0;
}

.div_1-parte_4 {
    padding-left: 5%;
}

.div_1-parte_4 > p {
    font-size: 30px;
}

.div_1-parte_4 {
    width: 40%;
    height: 8%;
}